@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
:root {
    --text-color: #2E2D28 /* Texto em cinza escuro */
    --card-front-color: #F0F0F0;
    --card-back-color: #C4C4C4; 
}

body{
    background: url('img/bg-desktop-neutral.webp');
    font-family: 'Bai Jamjuree', sans-serif;
    background-size: cover;
    color: var(--text-color);
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
}

.cartao{
    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartao__conteudo h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    backface-visibility: hidden;
}

.cartao__conteudo p{
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1rem; 
}

.cartao__conteudo__pergunta p{
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p{
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao.active .cartao__conteudo{
    transform: rotateY(180deg);   
}

.cartao__conteudo__pergunta, 
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo__resposta{
    transform: rotateY(180deg);
}

.cartao__imagem img {
    width: 50%;
    height: 50%;
    margin-top: 1px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer{
    background-color: #333333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    border-radius: 1rem 1rem 0 0;
}

footer p{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
